<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>App Lista Tarefas</title>

	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
	<section class="col">
		<h4>Todas as Tarefas</h4>

		{% for tarefa in tarefas %}
			<div class="row mb-3 d-flex align-items-center tarefa">
				<div class="col-sm-9">{{tarefa.descricao}}</div>
				<div class="col-sm-3 mt-2 d-flex justify-content-between">
					<a href="#">
						<i class="fas fa-trash-alt fa-lg text-danger"></i>
					</a>
					<a href="">
						<i class="fas fa-edit fa-lg text-info"></i>
					</a>
					<i class="fas fa-check-square fa-lg text-success"></i>
				</div>
			</div>
		{% endfor %}
	</section>
</body>

</html>